body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Orbitron', sans-serif;  
}
.bg-img{
    background-image: url(/images/black.jpg);
    height: 100vh;
    background-attachment: fixed;
    width:100%;
    background-size: 100% 100%;
 }
.navbar-brand{
    font-family: 'Cairo', sans-serif;
    font-family: 'Orbitron', sans-serif;   
    color: white;
 }
 .navbar-nav{
    margin-left: auto;
    
}
.nav-item{
    font-family: 'Cairo', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-size: 17px;
    margin-right: 4%;
}
 
.nav-item a{
    color: white;
}
.navbar{
    padding-top: 3%;
}
 
.headerset {
    padding-top: 350px;
    
}
.headerset h1 {
    font-size: 50px;
    letter-spacing: 2px;
}
.headerset h3 span{
    border-right: 1px solid white;
    letter-spacing: 2px;
}
.headerset h3{
    padding-top: 1.5%;
    justify-content: center;
}
.navbar-toggle{
    border:1px solid turquoise;
    margin-right:15px; 
}
.aboutme{
    padding-top: 30px;
}
.pull-right{
    float: right;
}

.progress{
    margin-bottom: 30px;
}
.about-me{
    margin-top: 100px;
}
.divider{
    margin-top: 50px;
}
.title-name , .title-profile, .title-email, .title-phone{
    font-weight: bold;
}